.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.left-nav {

  > ul { 
    display: flex;
    justify-content: space-evenly;
    > li { 

    }
  }

  span {

  }
}

.right-nav  {

  > ul {
    display: flex;
    justify-content: space-evenly;
    width: 190px;
    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}
