<div class="masthead">

<nav>
 
  <ul class="language-nav">
    <a href="">
    <li>CSS </li>
    </a>
    
    <a href="">
    <li>HTML </li>
    </a>

    <a href="">
    <li>Javascript </li>
    </a>

    <a href="">
    <li>Ruby </li>
    </a>

  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="logo">
  
</nav>

<nav>
  <ul class="masthead-links">
    <a href="">
    <li>Tuesday, October 18, 2016</li>
    </a>

    <a href="">
    <li><i class="fas fa-newspaper"></i> <span class="underline">Today’s Paper</span></li>
    </a>

    <a href="">
    <li><i class="fas fa-video"></i> <span class="underline">Video</span></li>
    </a>

    <button>
    <a href="">
    <li>77°F</li>
    </a>
    </button>

    <button>
    <a href="">
    <li>AAO <strong>+100%</strong></li>
    </a>
    </button>

  </ul>
</nav>
 

</div>


 
 






