<div class="masthead">

<nav class="language-nav">
 
  <ul>
    <li>CSS </li>
    <li>HTML </li>
    <li>Javascript </li>
    <li>Ruby </li>
  </ul>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="logo">
  
</nav>

<nav>
  <ul>
    <li>Tuesday, October 18, 2016</li>
    <li>Today’s Paper</li>
    <li>Video</li>
    <li>77°F</li>
    <li>77°F</li>
    <li>AAO +100%</li>
  </ul>
</nav>
 	<i class="fa fa-search"></i>
				<span>video</span>

</div>

 
 






